In [1]:
# LTC_1_notebook/notebooks/FinderData.ipynb
# importing some libraries
import pandas as pd

In [3]:
def OpenerCouneterRows(path):
    """
    path: str Путь до файла .xlsx
    rerurn: data_exel DataFrame
            ncols list 
    
    Функция возвращает нам DataFrame в виде 
    исходного DataFrame с конкретными номерами
    столбцов, т.к. у исходного их нет
    """
    data_excel_head = pd.read_excel(path, nrows=50)
    ncols_data = data_excel_head.shape[1]
    ncols = []
    for col in range(ncols_data):
        ncols.append('Col{}'.format(col))

    data_excel = pd.read_excel(path, names=ncols)
    
    return data_excel, ncols

path = 'P:\Python Projects\LTC_1\SN-2012\Глава 1. Здания.xlsx'

data_excel, ncols = OpenerCouneterRows(path)

In [43]:
data_excel[10:22]

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20
10,1,NaN,2,NaN,3,NaN,4,5,6,NaN,...,7,NaN,NaN,8,9,10,NaN,NaN,11,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Раздел 1.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,NaN,1.1-3101-1-1/1,NaN,Разработка грунта внутри здания в котлованах,NaN,100 м3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,ЗП,NaN,NaN,NaN,126583.26,NaN,...,1,NaN,NaN,1,1,126583.26,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,ЭМ,NaN,NaN,NaN,98.79,NaN,...,1,NaN,NaN,1,1,98.79,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,в т.ч. ЗПМ,NaN,NaN,NaN,74.99,NaN,...,1,NaN,NaN,1,1,"(74,99)",NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,МР,NaN,NaN,NaN,15867.13,NaN,...,1,NaN,NaN,1,1,15867.13,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,НР от ЗП,NaN,%,70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,88608.28,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,СП от ЗП,NaN,%,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12658.33,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,"НР и СП от ЗПМ (78,00% и 30,00%)",NaN,%,108,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,80.99,NaN,NaN,NaN,NaN

In [5]:
import re

In [47]:
for row, column in data_excel[10:15].iterrows():
    print(column)

Col0       1
Col1     NaN
Col2       2
Col3     NaN
Col4       3
Col5     NaN
Col6       4
Col7       5
Col8       6
Col9     NaN
Col10    NaN
Col11      7
Col12    NaN
Col13    NaN
Col14      8
Col15      9
Col16     10
Col17    NaN
Col18    NaN
Col19     11
Col20    NaN
Name: 10, dtype: object
Col0     NaN
Col1     NaN
Col2     NaN
Col3     NaN
Col4     NaN
Col5     NaN
Col6     NaN
Col7     NaN
Col8     NaN
Col9     NaN
Col10    NaN
Col11    NaN
Col12    NaN
Col13    NaN
Col14    NaN
Col15    NaN
Col16    NaN
Col17    NaN
Col18    NaN
Col19    NaN
Col20    NaN
Name: 11, dtype: object
Col0     Раздел 1.
Col1           NaN
Col2           NaN
Col3           NaN
Col4           NaN
Col5           NaN
Col6           NaN
Col7           NaN
Col8           NaN
Col9           NaN
Col10          NaN
Col11          NaN
Col12          NaN
Col13          NaN
Col14          NaN
Col15          NaN
Col16          NaN
Col17          NaN
Col18          NaN
Col19          NaN
Col20          NaN
Name: 12, dtype: object
Col0     NaN
Col1     NaN
Col2     NaN
Col3     NaN
Col4     NaN
Col5     NaN
Col6     NaN
Col7     NaN
Col8     NaN
Col9     NaN
Col10    NaN
Col11    NaN
Col12    NaN
Col13    NaN
Col14    NaN
Col15    NaN
Col16    NaN
Col17    NaN
Col18    NaN
Col19    NaN
Col20    NaN
Name: 13, dtype: object
Col0                                                1
Col1                                              NaN
Col2                                   1.1-3101-1-1/1
Col3                                              NaN
Col4     Разработка грунта внутри здания в котлованах
Col5                                              NaN
Col6                                           100 м3
Col7                                                1
Col8                                              NaN
Col9                                              NaN
Col10                                             NaN
Col11                                             NaN
Col12                                             NaN
Col13                                             NaN
Col14                                             NaN
Col15                                             NaN
Col16                                             NaN
Col17                                             NaN
Col18                                             NaN
Col19                                             NaN
Col20                                             NaN
Name: 14, dtype: object

In [112]:
def Funck_searcher_fresh_data(data):
    
    n_row = 1
    
    def searcher_row_razdel(data):
        """
        data: dataframe
        return: row (int)

        Функция ищет строчку, в которой находится №пп для того,
        чтобы потом взять эту строчку и вытянуть из нее необходимую
        шапку для будующей таблицы
        """
        global n_row
        razdel_array = []
        fresh_data = []
        
        for row, column in data.iterrows():
            # first
            for i in range(len(column)):
                # print(row, column[i])
                if re.search(r'\bРаздел\b', str(column[i])):
                    razdel_array.append(column[i])
                    n_row = row
            # second        
            fresh_data.append(data[n_row])
            return razdel_array, fresh_data
        return searcher_row_razdel(data)

In [113]:
row_razdel = searcher_row_razdel(data_excel)

UnboundLocalError: local variable 'n_row' referenced before assignment

In [96]:
print(row_razdel)

(['Раздел 1.'], 12)

In [ ]:
def target_columns(data, num_row):
    string = data.loc[num_row].dropna().to_list()
                
    return string